.container {
  width: 100%;
  position: relative;
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  height: 167px;
  &__image {
    position: absolute;
    right: 70px;
    top: -50px;
    img {
      width: 535px;
      height: 248px;
    }
  }
  &__tittle {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15%;
    & span {
      font-family: "Monster Clubhouse", sans-serif;
      font-size: 56px;
      font-weight: 500;
      color: #425966;
    }
  }
}

@media screen and (min-width: 771px) and (max-width: 1136px) {
  .container {
    height: 116px;
    &__image {
      right: 50px;
      top: -36px;
      img {
        width: 379px;
        height: 175px;
      }
    }
    &__tittle {
      padding-left: 10%;
      & span {
        font-size: 39px;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .container {
    height: 70px;
    &__image {
      right: 30px;
      top: -22px;
      img {
        width: 228px;
        height: 106px;
      }
    }
    &__tittle {
      padding-left: 6%;
      & span {
        font-size: 23px;
      }
    }
  }
}
