@import url("https://fonts.cdnfonts.com/css/monster-clubhouse");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  min-height: 300px;
  height: fit-content;
}

@media screen and (max-width: 1070px) {
  .main{
    display: flex;
    margin-top: 8%;
  }  
}

@media screen and (max-width: 800px) {
  .main{
    display: flex;
    flex-direction: column;    
    margin-top: 25%;
  }  
}

@media screen and (max-width: 650px) {
  .main{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
  }  
}

@media screen and (max-width: 500px) {
  .main{
    display: flex;
    flex-direction: column;
    margin-top: 80%;
  }  
}


